rules_version = '2';
service cloud.firestore {
   match /databases/{database}/documents {
     match /tables/{table} {
        function isSignedIn() {
          return request.auth != null;
        }

        function uid() {
        	return isSignedIn() ? request.auth.uid : ''
        }

        function isGm(rsc) {
          return rsc.data.gm == uid();
        }

				function isPlayer(rsc) {
          return uid() in rsc.data.players;
        }

        function isValidNewTable() {
          return resource == null
            && request.resource.data.gm == uid();
        }

        allow create: if isValidNewTable();
        allow delete, update: if isGm(resource);
        allow read: if isPlayer(resource);
     }
   }
}
