body {
  background-color: #282c34;
}


.App-header {
  background-color: #282c34;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.die {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.roll {
  font-size: 12px;
}

.Rolls__results {
  color: #ccc;
}